<div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5  main-top">
  <div class="col-sm-10 col-md-8 col-lg-7 mx-auto m-3 p-5 login-form border-box">
    <div class="row">
      <h2>アカウントを作成</h2>
    </div>
    <div>
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>
       
        <div class="form_group">
          <br><%= f.text_field :name, class: "form-control", placeholder: "ユーザー名" %>
        </div>
        
        <div class="form_group">
          <br><%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "メールアドレス" %>
        </div>
        
        <div class="form_group">
          <% if @minimum_password_length %>
            <br><%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード(6文字以上)" %>
          <% end %>
        </div>
        
        <div class="form_group">
          <br><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード(確認)"%>
        </div>
        
        <div class="actions text-center">
          <br><%= f.submit "新規登録", class: "btn btn-secondary rounded-pill" %></br>
        </div>
      <% end %>
      
      <div class="my-3">
        <p class="ml-3">既に登録済みの方は<%= link_to "こちら", user_session_path %>からログインしてください。</p>
      </div>
    </div>
  </div>
</div>