  <div class="row-lg-8 main-top">
    <%= render 'shared/error', model: @book %>
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5 text-center">
      <div class="row">
        <h3 class="mb-4 fw-bold">読書状態の編集</h3>
      </div>
      <div class="book-deta">
        <%= link_to @book_api_data.item_url do %>
          <%= (image_tag(@book.image_url)) %></br>
        <% end %>
        <br><%= @book.title%>
        <br><%= @book.author %>
        <%= form_with model_name: @book, url: book_path, method: :patch do |f| %>
          <div class="form-group">
            <td><%= f.label :is_read, "読書状態: " %></td>
            <td>
              <%= f.radio_button :is_read, :true %>
              <%= f.label :is_read, "読み終わった", value: :true %>
              <%= f.radio_button :is_read, :false %>
              <%= f.label :is_read, "読んでない", value: :false %>
            </td>
          </div>
          <%= f.hidden_field :isbn, :value => @book.isbn %>
          <%= f.submit '変更を更新', class: "btn btn-outline-success my-3" %>
        <% end %>
      </div>
    </div>
  </div>