  <div class="row-lg-8 main-top">
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5">
      <div class="row">
        <div class="book-deta text-center">
          <%= link_to @book.item_url do %>
            <%= (image_tag(@book.image_url)) %></br>
          <% end %>
          <br><%= @book.title%>
          <br><%= @book.author %>
          <br><% @book.isbn %>
          <% if @user_book.is_read == false %>
            <h5 class="text-muted font-weight-bold">読んでない</h5>
          <% else %>
            <h5 class="text-success font-weight-bold">読み終わった</h5>
          <% end %>
          <%= link_to "編集する", edit_book_path(@book), class: "btn btn-outline-secondary" %>
          <%= link_to "レビューを投稿する",  new_book_review_path(@book), class: "btn btn-primary" %></br>
          <br><%= link_to "一覧に戻る", books_path, class: "btn btn-outline-primary" %>
        </div>
        <h3 class="mb-4 mt-4 fw-bold">みんなのレビュー</h3>
        <% @reviews.each do |review| %>
          <div class="row mb-3 border-bottom p-2 border-opacity-75">
            <div class="col-md-7 mx-auto">
              <div class="row">
                <div class="col-md-12 text-start">
                  <%= image_tag review.user.get_profile_image(50, 50) %>
                  <%= link_to my_page_path(review.user) do %>
                    <%= review.user.name %>
                  <% end %>
                  <h5 class="pt-3"><%= review.title %></h5>
                  <div id="star_<%=review.id %>"></div>
                  <div class="pt-2">
                    <%= simple_format(review.content) %>
                  </div>
                  <%= render 'user/favorites/favorite', review: review %>
                  <div class="comment mt-3">
                    <%= render 'user/review_comments/form', review: review %>
                  </div>
                  <div class="comments mt-3">
                    <%= render 'user/review_comments/index', review: review %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            $('#star_<%=review.id %>').empty();
            $('#star_<%=review.id %>').raty({
              size    : 36,
              starOff: '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              score: <%= review.star %>,　
              half: false,
              readOnly: true
            });
          </script>
        <% end %>
      </div>
    </div>
  </div>
