  <div class="row-lg-8 main-top">
    <%= render 'shared/error', model: @user %>
    <div class="col-sm-12 col-md-12 col-lg-7 mx-auto p-5 login-form border-box">
      <div class="row">
        <h3 class=" fw-bold">プロフィール編集</h2>
      </div>
      <%= form_with model: @user, url: information_path, method: :patch do |f| %>
        <div class="form_group">
          <br><%= f.label :ユーザー名 %>
          <br><%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form_group">
          <br><%= f.label :プロフィール画像 %>
          <br><%= f.file_field :profile_image, accept: "image/*", class: "form-control"  %>
        </div>
        <div class="form_group">
          <br><%= f.label :自己紹介 %>
          <br><%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form_group">
          <br><%= f.submit "編集を更新", class: "btn btn-outline-primary rounded-pill" %>
          <%= link_to "退会する", unsubscribe_path(@user.id), class: "btn btn-outline-danger rounded-pill" %></br>
          <br><%= link_to "戻る", my_page_path, class: "btn btn-outline-secondary rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>