  <div class="row-lg-8 main-top">
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5">
      <div class="row">
        <h3>マイレビュー</h3>
        <% @reviews.each do |review| %>
          <table> 
            <tbody>
              <tr>
                <%= link_to (image_tag(review.book.image_url)), book_path(params[:book_id]) %>
              </tr>
              <tr>
                <td><%= review.title %></td>
              </tr>
              <tr>
                <td><%= review.content %></td>
              </tr>
              <tr>
                <td><%= review.star %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <%= paginate @reviews %>
      </div>
    </div>
  </div>