  <div class="row-lg-8 main-top">
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5 text-center">
      <div class="row">
        <h3 class="mb-4 fw-bold">マイレビュー</h3>
        <% @reviews.each do |review| %>
          <div class="row mb-3 border-bottom p-2 border-opacity-75">
            <div class="col-md-7 mx-auto">
              <div class="row">
                <div class="col-md-6 text-center">
                  <%= image_tag review.book.image_url %>
                </div>
                <div class="col-md-6 text-start">
                    <div class="text-end">
                      <% if review.user == current_user %>
                        <%= link_to book_review_path(id: review.book.id, book_id: review.book_id),  method: :delete, 
                        data: { confirm: '本当に消しますか？' }, class: "delete_link" do %>
                          <i class="far fa-times"></i>
                        <% end %>
                      <% end %>
                    </div>
                  <h4><%= review.book.title %></h4>
                  <p><%= review.book.author %></p>
                  <h5 class="pt-3"><%= review.title %></h5>
                  <div id="star_<%=review.id %>"></div>
                  <div class="pt-2">
                    <div class="border border-dark p-2 border-opacity-25">
                      <%= simple_format(review.content) %>
                    </div>
                  </div>
                  <div class="text-end pt-1">
                    <% if review.user == current_user %>
                      <i class="fas fa-pencil-alt"></i>
                      <%= link_to "編集する", edit_book_review_path(id: review.book.id, book_id: review.book_id) %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            $('#star_<%=review.id %>').empty();
            $('#star_<%=review.id %>').raty({
              size    : 36,
              starOff: '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              score: <%= review.star %>,　
              half: false,
              readOnly: true
            });
          </script>
        <% end %>
        <%= paginate @reviews %>
      </div>
    </div>
  </div>