  <div class="row-lg-8 main-top">
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5">
      <div class="row">
        <h3>レビューフォーム</h3>
      </div>
      <%= form_with model: Review.new, url: book_reviews_path(@book), local: true do |f| %>
        <div class="form-group">
          <br><%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, placeholder: "感想のタイトル", class: 'form-control' %>
        </div>
        <div class="form-group">
          <br><%= f.label :content, '内容' %>
          <%= f.text_area :content, placeholder: "本の感想", class: 'form-control' %>
        </div>
        <div class="form-group">
          <br><%= f.label :star, '評価 ', class: 'col-md-3 col-form-label' %>
          <div id="star"></div>
        </div>
        <script>
          $('#star').empty();
          $('#star').raty({
            size    : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            scoreName: 'review[star]',　
            half: false,
          });
        </script>
        <%= f.submit 'レビューを投稿', class: "btn btn-outline-success my-3" %>
      <% end %>
    </div>
  </div>