  <% review.review_comments.each do |review_comment| %>
    <div class="col-12 my-3 text-end">
      <%= link_to my_page_path(review_comment.user.id), class: "no-border" do %>
        <%= image_tag review_comment.user.get_profile_image(50, 50), class: "profile-img" %>
      <% end %>
      <span class="ml-2"><%= review_comment.user.name %></span>
       <div class="col-12 mb-2">
        <%= review_comment.comment %>
      </div>
      <div class="col-12 text-right">
        <%= review_comment.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
    <div class="col-12 text-center my-2">
      <% if current_user == review_comment.user %>
        <%= link_to "削除", book_review_review_comment_path(review, review_comment), method: :delete, remote: true, class: "btn btn-danger btn-sm" %>
      <% end %>
    </div>
  <% end %>