  <div class="row-lg-8 main-top">
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5">
      <div class="row">
        <h3>会員一覧</h3>
      </div>
      
      <div class="text-center">
        <table class="table">
          <thead>
            <tr>
              <th>ユーザー画像</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>自己紹介</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
            <tbody>
              <tr>
                <td><%= image_tag user.get_profile_image(100, 100), class: "profile-img" %></td>
                <td><%= link_to user.name, admin_user_path(user.id) %></td>
                <td><%= user.email %></td>
                <td><%= user.introduction %></td>
                <% if user.is_deleted == true %>
                  <td class="text-secondary font-weight-bold">退会</td>
                <% else %>
                  <td class="text-success font-weight-bold">有効</td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>