  <% review = notification.review %>
  <% visiter = notification.visiter %>
  <% action = notification.action %>
  <div class="notifications my-3 py-2 pl-3">
    <% if action == "comment" %>
      <%= visiter.name %>さんが
      <% if review.user != current_user %>
        <%= link_to "#{review.user.name}さんのレビューに", book_path(review.book_id) %>
      <% else %>
        <%= link_to "あなたのレビューに", book_path(review.book_id) %>
      <% end %>
      にコメントしました
    <% elsif action == "favorite" %>
      <%= visiter.name %>さんが
      <%= link_to "あなたのレビューに", book_path(review.book_id) %>
      にいいねしました
    <% end %>
  </div>