<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Booknoah</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
        </div>
         
          <!-- ハンバーガーメニュー部分 --> 
          <div class="Toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
        <div class="col-lg-8"> 
          <header class="row header align-items-center">
            <nav>
              <div class="col-2 text-start">
                <div class="drawer">
                  <div id="logo">LOGO</div>
                </div>
              </div>
              <div class="search col-8">
                <!--検索バーを表示-->
                <%= render 'books/book_search' %>
              </div>
            </nav>
          </header>
        </div>
        <aside class="sidebar col-lg-2 text-center">
          <div class="menu">
            <ul class="list-unstyled">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "ホーム", my_page_path, method: :get %>
                </li>
                <li>
                  <%= link_to "本一覧", my_page_path, method: :get %>
                </li>
                <li>
                  <%= link_to "レビュー一覧", my_page_path, method: :get %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to "ホーム", root_path, method: :get %>
                </li>
                <li>
                  <%= link_to "ブックノアとは", about_path, method: :get %>
                </li>
                <li>
                  <%= link_to "新規登録", new_user_registration_path, method: :get %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path, method: :get %>
                </li>
                <li>
                  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
                </li>
              <% end %>
            </ul>
          </div>
        </aside>
        <%= yield %>
      </div>
    </div>
  </body>
</html>