<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Booknoah</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <div class="drawer">
        <!--- いわゆるロゴ ------>
        <div id="logo">LOGO</a></div>
        <!--- いわゆるロゴ ------>
 
        <!-- ハンバーガーメニュー部分 --> 
        <div class="Toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <!-------------- drawer ここまで-->
 
      <div class="menu">
        <ul class="list-unstyled">
          <% if user_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  
  <body>
    <%= yield %>
  </body>
</html>
